# Dependencies
node_modules/
client/node_modules/
server/node_modules/
/server/

# Environment
.env

# Uploads
server/uploads/*
!server/uploads/.gitkeep

# Build
client/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
